{%extends 'base.html'%}
{%block content%}
<div class="container">
    <h1>Create a tag</h1>
    <form id='create_tag' class="mb-1" name="create_tag" action="/tags/new" method="post">
        <label for="name_input">Name</label>
        <input type="text" name="name_input" id="name_input">
    </form>
    <form method="GET" action="/tags">
        <button class="btn btn-outline-primary">Cancel</button>
    </form>
    <button class="btn btn-success" type="submit" form="create_tag">Add</button>

</div>
{%endblock%}